*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.content{
    margin: 50px auto;
    width: 600px;
    height: auto;
}
.box{
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 10px 0;
}
label{
    background-color: #eeeeee;
    border-bottom: 1px solid #aaaaaa;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
input{
    display: none;
}
input+div>p{
    line-height: 24px;
}
input+div{
    height: 0;
    transition: height 1s;
    overflow: hidden;
    padding: 0 20px;
}
input:checked+div{
    height: 80px;
}