#content{
    height: 200px;
    width: 300px;
    display: flex;
    position: relative;
    overflow: hidden;
}
div img{
    width: 300px;
    float: left;
    transition: margin-left 0.5s linear;
    border-radius: 5px;
}
#input_3:checked+label+img{
    margin-left: -200%;
}
input{
    display: none;
}
#input_2:checked+label+input+label+img{
    margin-left: -100%;
}
#input_1:checked+label+input+label+input+label+img{
    margin-left: 0;
}
input+label{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    display: flex;
    border: 2px solid #ffffff;
    z-index: 2;
    position: absolute;
    bottom: 5px;
}
#input_1+label{
    left: 30%;
}
#input_2+label{
    left: 40%;
}
#input_3+label{
    left: 50%;
}
input:checked+label{
    background-color: white;
}